init:
  - ps: iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
build_script:
  - cinst packages.config -y
  - choco pack
test_script:
  - choco install uncrustify -dv -s .
