init:
  - ps: iex ((New-Object System.Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
build_script:
  - git submodule update --init --recursive
  - pushd chocolatey-test-environment && cinst packages.config -y && refreshenv && vagrant plugin install sahara && vagrant up && popd
  - choco pack
test_script:
  - choco install uncrustify -dv -s .
